footer{
background-color: #676767
}

body{
  font-family: 'Roboto', sans-serif;
  text-align: center;
  background-color: #fff8f2;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

footer{
  text-align: right;
  padding-right: 30px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.flexdiv{
display: flex;
justify-content: center;
}

#presentation{
  max-width: 40%;
}
#simplon{
  max-width: 40%;
}
img{
  border-style: solid;
  border-width: 2px;
}
